# ---> C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil Project
sdk_kws_customer/stm32/stm32g474-dtof-v1/Build
sdk_kws_customer/stm32/stm32g474-dtof-v1/Listings
sdk_kws_customer/stm32/stm32g474-dtof-v1/*.uvoptx
sdk_kws_customer/stm32/stm32g474-dtof-v1/*.uvguix*
sdk_kws_customer/stm32/stm32g474-dtof-v1/*.htm

dtof_calibration_lib/keil/*.uvoptx
dtof_calibration_lib/keil/*.uvguix*
dtof_calibration_lib/keil/DebugConfig
dtof_calibration_lib/keil/Listings
dtof_calibration_lib/keil/Objects/*.htm
dtof_calibration_lib/keil/Objects/*.dep
dtof_calibration_lib/keil/Objects/*.Scr

# IAR Project
dtof_calibration_lib/iar/Debug/List
dtof_calibration_lib/iar/Debug/Obj
dtof_calibration_lib/iar/settings

