# ---> C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil Project
soc/stm32/stm32g474-dtof-v1/Build
soc/stm32/stm32g474-dtof-v1/Listings
soc/stm32/stm32g474-dtof-v1/*.uvoptx
soc/stm32/stm32g474-dtof-v1/*.uvguix*
soc/stm32/stm32g474-dtof-v1/*.htm

lib/keil_lib/*.uvoptx
lib/keil_lib/*.uvguix*
lib/keil_lib/DebugConfig
lib/keil_lib/Listings
lib/keil_lib/RTE
lib/keil_lib/Objects/*.htm
lib/keil_lib/Objects/*.dep
lib/keil_lib/Objects/*.Scr

# riscv build tool chain
dtof_calibration_lib/xpack-riscv-none-embed-gcc-10.2.0-1.2

# git hash
soc/application/inc/git_hash.h

